<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Straisimulator</title>

    <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true"/>

</head>
<body>

<header>
  <div class="Wrapper">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
      <img src="../wwwroot/images/Strailogo_main.png" width="120" height="82" alt="">
      </a>
    <nav>
      <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Hjem</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Simulator">Simulering</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Resultater">Resultater</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="HentEventLog">Hent køtid på ordre</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
</div>

<footer>
  <div class="wrapper">
    <div id="footer-info">
      <p>&copy; 2022 - StraiSimulator</p>
    </div>
    <div id="footer-links">
      <ul>
        <li><a href="#">Om Applikasjonen</a></li>
      </ul>
      </div>
      <div class="clear"></div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>