body {
  background-color: #fff;
  color: #777;
  position:relative;
  margin:0;
  padding:0;
  overflow:auto;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}
h2 {
  font-weight: 300;
  color: #444;
  text-shadow: 0 0 white, 1px 0 white, 1px 0 white, 0 0 white;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h5 {
  font-size: 12px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #444;
  font-size: 16px;
  transition: all 0.2s;
  padding-right: 0;
}

strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}
.wrapper {
  margin: 0 auto;
  padding: 10px 10px;
  width: 940px;
}

header {
  top: 0;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  position:fixed;
  background-color: #fff;
  max-height: 9% !important;
  border-bottom: 1px solid #BABCBF;
}
header h1 {
  float: left;
  margin-top: 25px;
}
header h1 .color {
  color: #2F6D8C;
}
header nav {
  float: right;
}
header nav ul li {
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-top: 47px;
}
header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding-right: 25px;
  float: left;
}

header nav ul li a:hover {
  color: #252323;
  padding-right: 25px;
}

header nav ul li a:active {
  color: #4390cd;
  padding-right: 25px;
}

.navbar-brand {
  float: left;
  padding-top: 0;
  margin: 0 auto;
}

#hero-image {
  margin: 0 auto;
  height: 320px;
  padding-top: 100px;
  background: #e8eced url('../wwwroot/images/strai_produksjon_main4.png') no-repeat center;
}
#hero-image h2 {
  margin: 125px 0 40px 0;
}
.button-1 {
  margin: auto;
  width: 30%;
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #444;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}
.button-1:hover {
  color: #444;
  letter-spacing: 8px;
}
.container-2 {
  margin: 0 auto;
  width: 75%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#animated-word {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #444;
  cursor: pointer;
  max-width: 95%;
  width: 70%;
  outline: 1px solid;
  outline-color: #465460;
  outline-offset: 40px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

#animated-word:hover {
  color: #688AA8;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

footer {
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
}
.footerLinks {
  text-align: center;
  margin-bottom: 10px;
}
.footerLinks ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.footerLinks li {
  display: inline;
}
.footerLinks a {
  color: #444;
  text-decoration: none;
  font-size: 13px;
}
.copyright {
  text-align: center;
}

.copyright p {
  margin: 0;
  color: #b3b3b3;
  font-size: 11px;
}

/* Login css */

body--login {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #4bb544;
  --border-radius: 4px;

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: black;
  background-size: cover;
}

.container--login {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  align-items: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;
}

.container--login,
.form__input,
.form__button {
  font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: red;
}

.form__message--error {
  color: #444;
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: #444;
  background: #ffffff;
}

.form__input--error {
  color: #444;
  border-color: #444;
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: #444;
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  background: #444;
}

.form__button:hover {
  background: red;
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  text-align: center;
}

.form__link {
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}