body {
  background-color: #fff;
  color: #777;
  position:relative;
  padding:0;
  margin:0;
  overflow:auto;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* General */

.flex {
  display: flex;
  flex-direction: row;
}

p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-left: 15px;
  inline-size: 80%;
  overflow-wrap: break-word;
  word-break: break-word;
}
h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
  padding-left: 15px;
}
h2 {
  font-weight: 300;
  color: #444;
  text-shadow: 0 0 white, 0.5px 0 white, 0 0 white, 0 0 white;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 2px;
  padding-left: 15px;
}
h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 15px;
}
h4 {
  font-size: 20px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#table-h4 {
  font-size: 18px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}
h5 {
  font-size: 12px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 15px;
}
#table-h5 {
  font-size: 13px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: #444;
  padding-left: 10px;
}
a:hover {
  color: #444;
  font-size: 16px;
  transition: all 0.2s;
  padding-right: 0;
}

strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}
header {
  padding-bottom: 5px;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #BABCBF;
}
header h1 {
  float: left;
  margin-top: 25px;
}
header h1 .color {
  color: #2F6D8C;
}

/* Navigation bar */

.navbar {
  background-color: #fff;
  overflow: hidden;
  padding-left: 10px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 35px;
  padding: 14px;
}
.active {
  color: white;
}
.navbar-brand {
  float: left;
  margin: 0 auto;
}
.navbar .icon {
  display: none;
}
.navbar a:hover {
  border-top: 1px solid #dddddd;
  transition: all 25ms;
}
@media screen and (max-width: 700px) {
  .navbar a  {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 10px;
    top: -40px;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive  {float: none;}
  .navbar.responsive  {position: relative;}
  .navbar.responsive  {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* Index */

#hero-image {
  margin: 0 auto;
  height: 320px;
  padding-top: 100px;
  background: #e8eced url('../wwwroot/images/strai_produksjon_main4.png') no-repeat center;
}
#hero-image h2 {
  margin: 125px 0 40px 0;
}
.button-1 {
  margin: auto;
  width: 30%;
  display: block;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #444;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}
.button-1:hover {
  color: #444;
  letter-spacing: 8px;
}
.container-2 {
  margin: 0 auto;
  width: 75%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Knapper index */

#animated-word {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 25px;
  letter-spacing: 0.2em;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  color: #444;
  cursor: pointer;
  max-width: 95%;
  width: 70%;
  outline: 1px solid;
  outline-color: #465460;
  outline-offset: 40px;
  transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

#animated-word:hover {
  color: #688AA8;
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 35px;
}

/* Statistikk */


/* Chart container */

.chart {
  margin: 0 auto;
  width: 600px;
  height: 300px;
}

/* HentEventLog */

.container-eventlog {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(230, 230, 232, 0.71),rgba(189, 195, 199, 0.9)), url(../wwwroot/images/stra_produksjon.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  width: 100%;
  max-width: 350px;
  background: rgba(255, 255, 255, 0.50);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  margin-bottom: 250px;
  backdrop-filter: blur(4px) saturate(120%);
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  position: absolute;
}

.searchbar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #444;
}
::placeholder {
  color: #444;
}
.searchbar button img{
  width: 25px;
}
.searchbar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: rgba(104, 138, 168, 0.8);
  cursor: pointer;
}

/* EventloggError */

.container-error p{
  width: 100%;
  position: relative;
  margin-bottom: 110px;
  margin-right: 12px;
  color: #cb1807;
  
}

/* HentEventLogRes */

.searchbar-2 {
  width: 220px;
  max-width: 220px;
  background: rgba(255, 255, 255, 0.50);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 2px 3px;
  margin-right: 50px;
  margin-top: 25px;
  backdrop-filter: blur(4px) saturate(120%);
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.searchbar-2 input {
  width: 100px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 25px 10px 15px;
  font-size: 14px;
  color: #444;
}
::placeholder {
  color: #444;
}
.searchbar-2 button img{
  width: 15px;
}
.searchbar-2 button{
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: rgba(104, 138, 168, 0.8);
  cursor: pointer;
}

.container-eventlogRes h4 {
  color: #444;
  letter-spacing: 1px;
}

.container-eventlogRes {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(230, 230, 232, 0.71),rgba(189, 195, 199, 0.9));
  background-position: center;
  background-size: cover;
}

.excel {
  background: #1f9a5f;
  cursor: pointer;
  display: block;
  height: 38px;
  width: 200px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 10%;
}

.excel:hover {
  background: #0f753e;
}

/* table oppsummering */

.content-table-sum {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 300px;
  max-width: 90%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  padding: 12px 15px;
  max-height: 400px;
}
.content-table-sum thead tr {
  background-color: #688AA8;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.content-table-sum th, .content-table-sum tr, .content-table-sum td {
  padding: 12px 15px;
  text-align: center;
}

.content-table-sum tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table-sum tbody tr {
  background-color: #ffffff;
}

.content-table-sum tbody tr:nth-of-type(even){
  background-color: #dde5ef;
}

.content-table-sum tbody tr:last-of-type {
  border-bottom: 2px solid#688AA8;
}

.content-table-sum tbody tr.active {
  font-weight: bold;
  color: #688AA8;
}

/* table */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  max-width: 900px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
  padding: 12px 15px;
  overflow-y: auto;
  display: block;
  max-height: 400px;
}

@media (max-width: 767px) {
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 90%;
    max-width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 12px 15px;
    overflow-y: auto;
    overflow-x: auto;
    display: block;
    max-height: 400px;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 90%;
    max-width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding: 12px 15px;
    overflow-y: auto;
    overflow-x: auto;
    display: block;
    max-height: 400px;
  }
}

.content-table thead tr {
  background-color: #688AA8;
  color: #fff;
  text-align: center;
  font-weight: bold;
  
}

.content-table th, .content-table tr, .content-table td {
  padding: 12px 15px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr {
  background-color: #ffffff;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #dde5ef;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid#688AA8;
}

.content-table tbody tr.active {
  font-weight: bold;
  color: #688AA8;
}

/* Footer */

footer {
  position: relative;
  width: 100%;
  left: 0;
  padding-top: 25px;
  bottom: 0;
  background: #fff;
}
.footerLinks {
  text-align: center;
  margin-bottom: 10px;
}
.footerLinks ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.footerLinks a {
  color: #444;
  text-decoration: none;
  font-size: 13px;
}
.copyright {
  text-align: center;
}

.copyright ul {
  padding-right: 38px;
  color: #b3b3b3;
  font-size: 11px;
}

/* Login */

