@model Straisimulator.ViewModels.ResultViewModel
@using Straisimulator.ViewModels
@{
    ViewData["Title"] = "About";
}

<div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>Featured Content</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt. Nam ultricies odio ac neque suscipit volutpat. Ut dictum adipiscing felis sed malesuada. Integer porta sem nec nibh hendrerit imperdiet. </p>
            <a href="#"><img src="images/video-placeholder.jpg" alt="video placeholder" /></a>
        </article>
    </div>
</div>

<div id="secondary-content">
    <div class="wrapper">
        <article style="background-image: url('images/article-image-1.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article>
        <article style="background-image: url('images/article-image-2.jpg');">
            <div class="overlay">
                <h4>Secondary Content</h4>
                <p><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod leo a nibh dignissim tincidunt nam.</small></p>
                <a href="#" class="more-link">View more</a>
            </div>
        </article><div class="clear"></div>
    </div>
</div>