@model Straisimulator.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<br/>
<h4>Velkommen til StraiSimulator</h4> <br/>

<!--<form action="SetDate" method="post">
        <label>Enter production day:</label><br/>
        <input type="date" name="prodDay" required/><br/>
        <input type="submit" value="Get"/>
    </form>-->


<table>
    <tbody>
    
    </tbody>
</table>