@model Straisimulator.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Home" asp-action="Result" method="post">
        <label>Enter production day:</label><br/>
        <label>YYYY</label>
        <input type="number" name="ProdDay1" value="Year" required/><br/>
        <label>MM</label>
        <input type="number" name="ProdDay2" value="Month" required/><br/>
        <label>DD</label>
        <input type="number" name="ProdDay3" value="Day" required/><br/>
        <input type="submit" value="Fetch"/>
    </form>
</div>