@model Straisimulator.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<form action="SetDate" method="post">
        <label>Enter production day:</label><br/>
        <input type="date" name="prodDay" required/><br/>
        <input type="submit" value="Get"/>
    </form>-->
</div>

<table>
    <tbody>
    <!--//foreach (Order order in Model.ProductionDay.Orders)
    {
        <tr>  
        //foreach(Skap skap in order.Skap)
        {
            <td>//skap.OrderNumber</td>
        }
        </tr>
    }-->
    </tbody>
</table>