@model Straisimulator.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="hero-image">
  <div class="Wrapper-1">
    <h2>Hva gjør applikasjonen?</h2>
    <a asp-area="" asp-controller="Home" asp-action="About" class="button-1">Les mer her!</a>
  </div>
</div>

<div id="features">
  <div class="Wrapper">
    <ul>
      <div class="container-2">
        <a asp-area="" asp-controller="Home" asp-action="Simulator" id="animated-word">Simulering</a>
      </div>
      <div class="container-2">
        <a asp-area="" asp-controller="Home" asp-action="Resultater" id="animated-word">Resultater</a>
      </div>
      <div class="container-2">
        <a asp-area="" asp-controller="Home" asp-action="HentEventLog" id="animated-word">Hent køtid på ordre</a>
      </div>
      <div class="clear"></div>
    </ul>
  </div>
  
</div>
