@model Straisimulator.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <tbody>
    @foreach (Order order in Model.Orders)
    {
        <tr>  
        @foreach(Skap skap in order.Skap)
        {
            <td>@skap.QueTimeLeft</td>
            <td>@skap.QueTimeRight</td>
        }
        </tr>
    }
    </tbody>
</table>