@using Straisimulator.ViewModels
@model Straisimulator.ViewModels.ResultaterViewModel
@{
    ViewData["Title"] = "Simulator";
}
<br/>

<h5>Simulator Strai Kjøkken</h5>

<br/>

<div class="container">
    <div class="row">
        <div class="col-sm">
                <form method="post" action="Resultater" name="inputForm">
                <select class="form-select" name="orderName" id="orderName">
                    <option name="option1" value="option1" disabled>Overskap 60cm</option>
                    <option name="option2" value="option2">Overskap 60cm Høyre</option>
                    <option name="option3" value="option3">Overskap 60cm Venstre</option>
                    <option name="option4" value="option4" disabled>Overskap 50cm</option>
                    <option name="option5" value="option5">Overskap 50cm Høyre</option>
                    <option name="option6" value="option6">Overskap 50cm Venstre</option>
                </select>
                </form>
        </div>
        <div class="col-sm">
            <form method="post" action="Resultater" name="inputForm">
                <select class="form-select" name="orderName2" id="orderName2">
                    <option name="option1" value="option1" disabled>Overskap 60cm</option>
                    <option name="option2" value="option2">Overskap 60cm Høyre</option>
                    <option name="option3" value="option3">Overskap 60cm Venstre</option>
                    <option name="option4" value="option4" disabled>Overskap 50cm</option>
                    <option name="option5" value="option5">Overskap 50cm Høyre</option>
                    <option name="option6" value="option6">Overskap 50cm Venstre</option>
                </select>
            </form>
        </div>
        <div class="col-sm">
            <button class="btn btn-light">Submit</button>
        </div>
    </div>
    </div>


